<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Register</title>-->
<!--</head><body>-->
<!--<div class="header">-->
<!--    <div class="header-right">-->

<!--        &lt;!&ndash;        <a href="#home"><i class="fa fa-solid fa-house tm-brand-icon"></i></a>&ndash;&gt;-->
<!--        &lt;!&ndash;        <a href="#contact"><i class="fa fa-solid fa-map-location-dot tm-brand-icon"></i></a>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<div class="center">

    <!--    <form action="/action_page.php" style="border:1px solid #ccc">-->
    <form action="/register" style="border:1px solid #ccc" th:method="POST">
        <div class="container">
            <h1>Register</h1>
            <hr>

            <label><b>Name</b></label>
            <input type="text" placeholder="Name" name="name" required>

            <br/>

            <label><b>Surname</b></label>
            <input type="text" placeholder="Surname" name="surname" required>
            <br/>

            <label><b>Username</b></label>
            <input type="text" placeholder="Username" name="username" required>
            <br/>

            <label><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" required>
            <br/>

            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Confirm Password" name="password-repeat" required>
            <br/>

            <!--            <label>-->
            <!--                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me-->
            <!--            </label>-->
            <div th:if="${hasRegisterError}" class="error">
                <div th:text="${registerMessageError}"></div>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" name="role" type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN" required>
                <label class="form-check-label" for="ROLE_ADMIN">ROLE_ADMIN</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="role"  type="radio" id="ROLE_USER" value="ROLE_USER" required>
                <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
            </div>


            <div class="clearfix">
                <button type="submit" class="registerbtn">Register</button>
                <!--                <a href="/login" class="registerbtn">Register</a>-->
                <a > <button type="button" onclick="loginFunc()">Back</button></a>
                <!--                <button>Log in</button>-->
            </div>
        </div>
    </form>

    <script>
        function loginFunc() {
            window.location = "login";
        }
    </script>

</div>
<!--</body>-->
<!--</html>-->